html {
    background: black;
    color: white;
    a {
        text-decoration: none;
        color: white;
    }
    padding-bottom: 30px;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.pageContent {
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    ::-webkit-scrollbar {
        display: none;
    }
}
.navbar {
    text-align: center;
    position: fixed;
    z-index: 10;
    top: 0px;
    width: 100%;
    display: flex;
    pointer-events: none;
    justify-content: space-between;
    padding-bottom: 200px;
    background: rgb(46, 46, 46);
    background: linear-gradient(0deg, rgba(46, 46, 46, 0) 0%, rgba(33, 33, 33, 1) 100%);
    .pageName {
        padding: 10px;
        margin-left: 100px;
        margin-top: 12px;
        font-size: large;
        font-weight: bold;
        pointer-events: auto;
    }
    .navItem {
        margin-right: 100px;
        pointer-events: auto;
        ul {
            display: flex;
            list-style: none;
            li {
                padding: 10px;
                transition: 0.3s;
            }
        }
    }
}
.pageContent {
    display: flex;
}

.mainpanel {
    background-color: #1d1d1d;
    margin-left: 395px;
    border-radius: 16px;
    padding: 10px;
    height: auto;
    min-height: 1000px;
    width: 100%;
    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .mainpanelContent {
        line-height: 10px;
    }
}

.mainpanelNoMargin {
    background-color: #1d1d1d;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 16px;
    padding: 10px;
    width: 100%;
    h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .mainpanelContent {
        line-height: 10px;
    }

}

.sidePanel {
    padding-bottom: 30px;
    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;

    .topSpacer {
        height: 200px;
    }
    .topplayerPanel {
        margin-bottom: 40px;
        background-color: #1d1d1d;
        iframe{
            //center the iframe
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-bottom: 20px;
        }
        .player {
            margin-bottom: 15px;
        }
        border-radius: 16px;
        width: 350px;
        h2 {
            text-align: center;
            padding-bottom: 10px;
        }
        section {
            width: 70px;
            height: 70px;
            overflow: hidden;
            position: relative;
            border-radius: 50%;
            margin-left: 15px;
            img {
                position: absolute;
                z-index: 1;
                width: 100%;
                left: -1000%;
                right: -1000%;
                top: -1000%;
                bottom: -1000%;
                margin: auto;
                min-height: 100%;
                min-width: 100%;
            }
        }
        .topplayerInfo {
            position: absolute;
            margin-left: 50px;
            z-index: 0;
            width: 250px;
            height: 30px;
            border-radius: 16px;
            padding: 10px;
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #333333;
            transform: translateY(-80px);
            display: flex;
            justify-content: center;
            align-items: center;
            p {
                margin-left: 5px;
            }
        }
    }
    .annoucementPanel{
        background-color: #1d1d1d;
        border-radius: 16px;
    }
    .mainlistPanel {
        background-color: #1d1d1d;
        margin-left: 30px;
        margin-right: 30px;
        border-radius: 16px;
        padding: 10px;
        width: 350px;
        margin-bottom: 40px;
        h2 {
            text-align: center;
            padding-bottom: 10px;
        }
        section {
            width: 90%;
            height: 50px;
            margin: auto;
            overflow: hidden;
            border-radius: 16px;
            object-fit: contain;
            display: flex;
            justify-content: flex-end;
            position: relative;
            margin-bottom: 15px;
            img {
                position: absolute;
                z-index: 0;
                width: 100%;
                left: -1000%;
                right: -1000%;
                top: -1000%;
                bottom: -1000%;
                margin: auto;
                min-height: 100%;
                min-width: 100%;
            }
        }
        .smalltop {
            position: absolute;
            z-index: 1;
            left: 0;
            margin-left: 15px;
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%);
            text-shadow: 3px 6px 12px black;
        }
        a {
            z-index: 1;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        #bold {
            font-weight: bold;
            margin-right: 5px;
        }
    }

}
.levelCard {
    margin: auto;
    width: 100%;
    height: 180px;
    overflow: hidden;
    border-radius: 16px;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 42px;
    img {
        position: absolute;
        z-index: 0;
        width: 100%;
        left: -1000%;
        right: -1000%;
        top: -1000%;
        bottom: -1000%;
        margin: auto;
        min-height: 100%;
        min-width: 100%;
    }
}
.lvinfo{
    margin: auto;
    width: 100%;
    height: 245px;
    overflow: hidden;
    border-radius: 16px;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 42px;
    background-color: #333333;
    iframe{
        background-color: black;
        border-radius: 16px;
        border-color: transparent;
        width: 45%;
        height: 210px;
        top: 0;
        margin-top: 17.5px;
        margin-left: 17.5px;
    }
    .verticalLine{
        width: 1px;
        height: 80%;
        background-color: #707070;
        position: absolute;
        left: 0;
        margin-left: calc(45% + 50px);
        top: 50%;
        transform: translateY(-50%);
    }
    .lvinfoContent{
        position: absolute;
        left: 0;
        margin-left: calc(45% + 80px);
        top: 50%;
        transform: translateY(-50%);
        a{
            line-height: 25px;
        }
    }
    display: none;
}
.lvinfo1{
    margin: auto;
    width: 100%;
    height: 245px;
    overflow: hidden;
    border-radius: 16px;
    object-fit: contain;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-bottom: 42px;
    background-color: #333333;
    iframe{
        border-radius: 16px;
        border-color: transparent;
        width: 45%;
        height: 210px;
        top: 0;
        margin-top: 17.5px;
        margin-left: 17.5px;
    }
    .verticalLine{
        width: 1px;
        height: 80%;
        background-color: #707070;
        position: absolute;
        left: 0;
        margin-left: calc(45% + 50px);
        top: 50%;
        transform: translateY(-50%);
    }
    .lvinfoContent{
        position: absolute;
        left: 0;
        margin-left: calc(45% + 80px);
        top: 50%;
        transform: translateY(-50%);
        a{
            line-height: 25px;
        }
    }
    display: block;
}
.fadeEffect {
    position: absolute;
    transition: 0.3s;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(46, 46, 46, 0.10968137254901966) 0%, rgba(0, 0, 0, 1) 95%);
}

.fadeEffect1 {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgb(46, 46, 46);
    background: linear-gradient(90deg, rgba(46, 46, 46, 0.10968137254901966) 0%, rgba(0, 0, 0, 1) 90%);
}

.levelInfo {
    position: absolute;
    z-index: 2;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    line-height: 5px;
}
.top {
    position: absolute;
    z-index: 2;
    text-align: left;
    left: 1%;
    top: -10%;
    font-size: 50px;
    margin-left: 10px;
    text-shadow: 3px 6px 12px black;
}
.submitBtn {
    background-color: #333333;
    border-radius: 16px;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}
.submitBtn:hover {
    background-color: #424242;
    transition: 0.3s;
}
.topMostPlayer {
    transition: 0.3s;
    border-radius: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 790px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    .sect {
        width: 105px;
        height: 105px;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        margin-left: 30px;
        img {
            position: absolute;
            z-index: 1;
            width: 100%;
            left: -1000%;
            right: -1000%;
            top: -1000%;
            bottom: -1000%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }
    }
    .levelThumb {
        width: 330px;
        height: 50px;
        margin: auto;
        overflow: hidden;
        border-radius: 16px;
        object-fit: contain;
        display: flex;
        justify-content: flex-end;
        position: relative;
        margin-right: 30px;
        img {
            position: absolute;
            z-index: 0;
            width: 100%;
            left: -1000%;
            right: -1000%;
            top: -1000%;
            bottom: -1000%;
            margin: auto;
            min-height: 100%;
            min-width: 100%;
        }
        .smalltop {
            position: absolute;
            z-index: 1;
            left: 0;
            margin-left: 15px;
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%);
            text-shadow: 3px 6px 12px black;
        }
        a {
            z-index: 1;
            display: flex;
            align-items: center;
            margin-right: 20px;
        }
        #bold {
            font-weight: bold;
            margin-right: 5px;
        }
    }
    .topMostPlayerInfo {
        margin-left: 20px;
        p {
            margin-bottom: 0;
            color: #b9b9b9;
        }
        hr {
            overflow: auto;
            width: 230px;
            height: 0;
            border: #707070 solid 1px;
            margin-right: 30px;
        }
    }
}
.topMostPlayer:hover {
    transition: 0.3s;
    background-color: #424242;
}

.allPlayer {
    display: table;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    section {
        display: table-row;
        padding: 10px;
    }
    a {
        line-height: 20px;
        display: table-cell;
        padding: 10px;
        width: 150px;
        margin: 5px;
        color: #ababab;
        border-bottom: #5f5f5f solid 1px;
        border-width: 2px;
        text-align: center;
    }
    #playerName {
        width: 60%;
        text-align: left;
    }
}

.dropbtn {
    display: none;
    transition: 0.3s;
    border-radius: 16px;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: white;
    //move div to the top of the website
    position: fixed;
    top: 8px;
    right: 15px;
    img{
        filter: invert(1);
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: none;
    position: relative;
    transition: 0.3s;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    margin-top: 35px;
    transform: translateX(-160px);
    border-radius: 0.5em;
    display: none;
    position: absolute;
    background-color: #333333;
    min-width: 160px;
    z-index: 100;
    transition: 0.3s;
    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        transition: 0.3s;
        border-radius: 16px;
    }
}
.dropdown-content{
    a:hover{
        background-color: #424242;
    }   
}
.a {
    display: flex;
    justify-content: space-between;
}
.submissionRules{
    margin-left: 30px;
}
.submitForm{
    display: flex;
    justify-content: center;
}
.submitP{
    display: flex;
    justify-content: center;
}

.levelWrapper:hover{
    /*
    .lvinfo{
        display: block;
    }
    */
    .fadeEffect{
        transition: 0.3s;
        opacity: 0.6;
    }
}
.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.levelWrapper{
    width: 75%;
    margin: auto;
}
#discord{
    border-color: transparent;
    border-radius: 16px;
    display: block;
    margin: auto;
}
#discord2{
    border-color: transparent;
    border-radius: 16px;
    display: block;
    margin: auto;
}
#beta{
    font-weight: 100;
    font-size: 13px;
    color: white;
    padding: -3px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 16px;
}
#about{
    p{
        text-align: center;
    }
    #role{
        margin-left: 12%;
    }
}
.credit{
    display: flex;
    background-color: #333333;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 16px;
    margin-bottom: 30px;
    h3{
        margin-bottom: -1px;
        margin-top: 0px;
        margin-left: 15px;
    }
    img{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }
    hr{
        margin-left: 15px;
        border: #707070 solid 1px;
        width: 10vw;
    }
    .creditContent{
        margin-top: auto;
        margin-bottom: auto;
        a{
            margin-left: 15px;
            color:#c7c7c7;
        }
    }
}
@media screen and (max-width: 1450px) {
    .pageContent{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media screen and (max-width: 1250px) {
    .credit{
        width: 80%;
    }
    .levelThumbWrapper {
        display: none;
    }
    #discord2{
        width: 80%;
    }
    .levelWrapper{
        width: 100%;
    }
    .App {
        margin-top: 150px;
    }
    .navbar {
        padding-bottom: 100px;
        .pageName {
            margin-left: 20px;
        }
        .navItem {
            margin-right: 20px;
        }
    }
    .topMostPlayer {
        width: 420px;
        margin-bottom: 30px;
        .sect {
            margin-left: 0;
        }
    }
    .levelThumbWrapper {
        position: absolute;
        margin-top: 200px;
        margin-left: 30px;
    }
    .mainpanel {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;
    }
    .levelCard {
        width: 85%;
    }
    .lvinfo{
        width: 85%;
        height: 100%;
        iframe{
            background-color: transparent;
            margin-top: 30px;
            margin-left: 10%;
            width: 80%;
            height: 35vw;
            padding-bottom: 200px;
            border-radius: 0;
        }
        .verticalLine{
            height: 1px;
            width: 80%;
            top:0;
            margin-top: calc(35vw + 70px);
            //align line horizontally
            margin-left: auto;
            transform: translateX(12.5%);
        }
        .lvinfoContent{
            top: 0;
            transform: translateY(0%);
            margin-top: calc(35vw + 100px);
            margin-left: 9vw;
        }
    }
    .sidePanel {
        display: none;
    }
    .a {
        display: none;
    }
    .dropbtn {
        display: block;
    }
    .dropdown {
        display: block;
    }
 
    #dropdown:hover{
        .dropbtn {
            background-color: #424242;
        }
        /*
        .dropdown-content {
            display: block;
        }
        */
    }

    .pageContent{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

}

/*
footer {
  margin-top: 3vh;
  height: 20vh;
  border-top: 2px solid #777;
  display: flex;
  justify-content: center;

  .footerTitle {
    font-size: 0.9em;
    height: 3vh;
    display: flex;
    justify-content: center;
  }
}
*/
